@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,200;1,400&display=swap');
* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    -webkit-transition: .2s linear;
    transition: .2s linear;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 5rem;
}

html::-webkit-scrollbar {
    width: 1rem;
}

html::-webkit-scrollbar-track {
    background: #fff;
}

html::-webkit-scrollbar-thumb {
    background: #10221b;
}




.heading {
    text-align: center;
    margin-bottom: 2.5rem;
    font-size: 4rem;
    color: #10221b;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 2rem 9%;
    z-index: 1000;
    /*display: -webkit-box;
    display: -ms-flexbox;*/
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.header.active {
    background: #fff;
    -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

.header .logo {
    margin-right: auto;
    font-size: 2.5rem;
    color: #10221b;
    font-weight: bolder;
}

.header .logo i {
    color: #219150;
}

.FaSearch{

    background: white;
    height: 30px;
    border-radius: 30px;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.8s;
    /*box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
    inset -7px -7px 10px 0px rgba(0,0,0,.1),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
   text-shadow:  0px 0px 6px rgba(255,255,255,.3),
              -4px -4px 6px rgba(116, 125, 136, .2);
  text-shadow: 2px 2px 3px rgba(255,255,255,0.5);*/
    box-shadow:  4px 4px 6px 0 rgba(255,255,255,.3),
    -4px -4px 6px 0 rgba(116, 125, 136, .2),
    inset -4px -4px 6px 0 rgba(255,255,255,.2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, .2);
}
.FaSearch .search-input{
    background: transparent;
    border: none;
    outline:none;
    width: 400px;
    font-weight: 500;
    font-size: 16px;
    transition: 0.8s;

}
.search-btn {
    color: #219150;
    background: transparent;
}

.header .navbar a {
    margin-left: 2rem;
    font-size: 1.7rem;
    color: #10221b;
}

.header .navbar a:hover {
    color: #219150;
}

.header .navbar #nav-close {
    font-size: 5rem;
    cursor: pointer;
    color: #10221b;
    display: none;
}
.header .icons{
    display: flex;
}
.header .icons a,
.header .icons div {
    font-size: 2.5rem;
    margin-left: 2rem;
    cursor: pointer;
    color: #10221b;
}

.header .icons a:hover,
.header .icons div:hover {
    color: #219150;
}

.header #menu-btn {
    display: none;
}
.btn {
    margin-top: 1rem;
    display: inline-block;
    border: 0.2rem solid #10221b;
    color: #10221b;
    cursor: pointer;
    background: none;
    font-size: 1.7rem;
    padding: 1rem 3rem;
}

.btn:hover {
    background: #10221b;
    color: #fff;
}

@keyframes hoverShake {
    0% {transform: skew(0deg,0deg);}
    25% {transform: skew(3deg, 3deg);}
    75% {transform: skew(-3deg, -3deg);}
    100% {transform: skew(0deg,0deg);}
}

.header .FaSearch:hover{
    animation: hoverShake 0.15s linear 1;
}



@media (max-width: 1200px) {
    .header {
        padding: 2rem;
    }
}
@media (max-width: 991px) {
    html {
        font-size: 55%;
    }
}
@media (max-width: 768px) {
    .header #menu-btn {
        display: inline-block;
    }
    .header .navbar {
        position: fixed;
        top: 0;
        left: -110%;
        background: #fff;
        z-index: 10000;
        width: 35rem;
        height: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-flow: column;
        flex-flow: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    .header .navbar.active {
        left: 0;
        -webkit-box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.8);
        box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.8);
    }
    .header .navbar #nav-close {
        display: block;
        position: absolute;
        top: 1rem;
        right: 2rem;
    }
    .header .navbar a {
        margin: 1rem 0;
        font-size: 3rem;
    }
    .header .navbar #nav-close {
        display: block;
        position: absolute;
        top: 1rem;
        right: 2rem;
    }
}
@media (max-width: 450px) {
    html {
        font-size: 50%;
    }
}